<footer>
        <div>
            <div>
                <div class="first-footer">
                    <h2>FESTIVAL CALENDAR</h2>
                </div>
            </div>
            <div class="second-footer">
                <a href="#">공지사항</a>
                <a href="#">개인정보처리방침</a>
                <a href="#">이용약관</a>
                <a href="#">FAQ</a>
                <a href="#">FAMILY SITE</a>
            </div>
            <div class="icon-footer">
                <img src="https://www.hera.com/kr/ko/resource/image/misc/sns_instagram_renew.png">
                <img src="https://www.hera.com/kr/ko/resource/image/misc/sns_youtube_renew.png">
                <img src="https://www.hera.com/kr/ko/resource/image/misc/sns_facebook_renew.png">
            </div>
            <div class="third-footer">
                <span>TEL : 000-000-000</span>
            </div>
            <div class="last-footer">
                <span>Copyright © FESTIVAL Corp. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
