<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" crossorigin="anonymous" >
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <script src="https://kit.fontawesome.com/dab690a483.js" crossorigin="anonymous"></script>
</head>
<footer>
        <div class="container">
            <div class="pb-5 pt-5 line-ft">
                <div class="calendar-ft">
                    <h2>FESTIVAL CALENDAR</h2>
                </div>
                <div class="icon-ft">
                    <div class="icon-box">
                        <i class="fab fa-instagram icon"></i>
                    </div>
                    <div class="icon-box">
                        <i class="fab fa-twitter icon"></i>
                    </div>
                    <div class="icon-box">
                        <i class="fab fa-facebook icon"></i>
                    </div>
                    <div class="icon-box">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="pb-5 pt-5 second-ft">
                <div class="row">
                    <div class="col flex-1"><a href="#">공지사항</a></div>
                    <div class="col flex-1"><a href="#">개인정보처리방침</a></div>
                    <div class="col flex-1"><a href="#">이용약관</a></div>
                    <div class="col flex-2"><a href="#">FAQ</a></div>
                    <div class="col flex-2"><a href="#">FAMILY SITE</a></div>
                </div>
            </div>
            <div class="last-ft">
                <span>Copyright © FESTIVAL Corp. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</html>