footer {
    color: #3C3B3D;
}

.line-ft {
    border-bottom: 1px solid #3C3B3D;
}

.icon-ft {
    display: flex;
}

.icon {
    font-size: 30px;
}

.icon-box {
    position: relative;
    left: 85%;
    width: 50px;
    height: 50px;
    
}

.second-ft a {
    color: #3C3B3D;
    text-decoration: none;
}

.last-ft {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    
    .calendar-ft {
        text-align: center;
    }

    .icon {
    font-size: 20px;
    }

    .icon-box {
        position: relative;
        top: 220px;
        left: 150px;
    }

    .second-ft {
        font-size: 12px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .flex-1 {
        display: flex;
        justify-content: space-around;
    }

    .flex-2 {
        display: flex;
        justify-content: space-around;
    }

    .last-ft {
        font-size: 12px;
        padding-top: 40px;
    }
}